*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: 'Queens Trial Regular';
	src: url('/fonts/Queens_Trial/QueensCompressedTrial-Regular.ttf');
	src: local('Queens Trial Regular'), url('/fonts/Queens_Trial/QueensCompressedTrial-Regular.ttf') format('truetype');
	}

@font-face {
    font-family: 'Queens Compressed Trial Regular';
    src: url('/fonts/Queens_Trial/QueensCompressedTrial-Regular.ttf');
    src: local('Queens Compressed Trial Italic'), url('/fonts/Queens_Trial/QueensCompressedTrial-Regular.ttf') format('truetype');
    }

    
@font-face {
    font-family: 'GT America Regular';
    src: url('/fonts/GT_America/GT-America-Regular.ttf');
    src: local('GT America Regular'), url('/fonts/GT_America/GT-America-Regular.ttf') format('truetype');
    }

@font-face {
    font-family: 'Neue Plak';
    src: url('/fonts/Neue_Plak/Neue-Plak-Condensed-Regular.ttf');
    src: local('Neue Plak'), url('/fonts/Neue_Plak/Neue-Plak-Condensed-Regular.ttf') format('truetype');
    }


/* Temporary style 
section{
    padding: 0.5rem;
    border: 1px solid rgb(225,225,225);
}
*/


/* -------------- Universal classes and styles -------------- */

.text-left              {text-align: left;}
.text-right             {text-align: right;}
.text-center            {text-align: center;}
.text-justify           {text-align: justify;}

.padded                 {padding: 5%;}
.padded-sm              {padding: 1rem;}
.padded-lg              {padding: 5rem;}

.padded-top             {padding-top: 5%;}
.padded-bottom          {padding-bottom: 5%;}

.small-text             {font-size: 1.5rem;}
.medium-text            {font-size: 2.2rem;
                        line-height: 1.3;}
.big-text               {font-size: 5rem;
                        line-height: 1;}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px, solid;
}

a:hover {
    color: rgb(120,120,125);
}

/* -------------- Typography Styles -------------- */

h1 {
    font-family: 'Queens Trial Regular';
}

h4 {
    font-family: 'Queens Trial Regular';
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-family: 'Queens Compressed Trial Regular';
    letter-spacing: -1.2px;
    font-style: italic;
    color: lightslategray;
}

.title {
    background-image: url('/images/bg-black.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10%;
}

p {
    font-family: 'GT America Regular';
    font-weight: 200;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.article {
    margin-top: 2rem;
}

.uppercase {
    text-transform: uppercase;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-left {
    border-left: 1px solid;
}

.copy {
    font-size: small;
    color: rgb(120,120,125);
}

/* -------------- Image styling -------------- */
.bg-image {
    background-image: url(images/LDV-onepage-1.jpg);
    background-size: cover;
    min-height: 90vh;
}



/* -------------- Media Queries - Max 800 -------------- */
@media (max-width:800px) {
    
  }