<!-------------- Header Desktop ------------>

<header class="grid mobile-hide">
    <div class="col-5_sm-12">
        <a href="/index.html"><h1 class="big-text">LDV <em>Journal</em></h1></a>
        
        <!--
        <h2 class="courier text-light">Un'infermiera in Australia</h2>
        -->
        <div id="typed-strings-article-desktop">
            <p>Un'<em>infermiera</em> in <strong>Australia</strong></p>
            <p>Un'<em>infermiera</em> in <strong>Australia</strong>.</p>
            <p>Un'<em>infermiera</em> in <strong>Australia</strong></p>
            <p>Un'<em>infermiera</em> in <strong>Australia</strong>.</p>
        </div>
        <span id="typed-article-desktop" class="typed-text-mobile"></span>


    </div>
    <div class="col-1_sm-0"></div>
    <div class="col-3_sm-12 padded-right-1">
        <h4 class="border-bottom text-right "><em>Chi sono</em></h4>
        <p class="text-right">La vita di un'infermiera italiana in Australia.</p>
        <p class="text-right">more coming soon..</p>
    </div>
    <div class="col-3_sm-12 border-left text-right ">
        <h4 class="border-bottom text-right"><em>Vuoi di più?</em></h4>
        <p>Seguimi su <a href="https://www.instagram.com/lauradellavalle">Instagram <i class="fa fa-camera-retro"></i></a>
        </p>
        <p>Mandami una <a href="/contact.html"><span class="highlight">Email</span></a></p>
        <br>
        <p>Vieni in Australia con la mia <br><a href="/how-to-free.html"><span class="highlight">guida gratuita</span></a></p>
    </div>
    
</header>

<!-------------- Header Mobile ------------>
<section class="grid-spaceBetween col-12 mobile-show text-center">
    <section class="col-12-middle">
        <a href="/index.html"><h1 class="big-text">LDV<br><em>Journal</em></h1></a>
        
        <!--
        <h2 class="text-light courier margin-top">Un'infermiera in Australia</h2>
         -->
        <div id="typed-strings-mobile">
            <p>Un'<em>infermiera</em> in <strong>Australia</strong></p>
            <p>Un'<em>infermiera</em> in <strong>Australia</strong>.</p>
            <p>Un'<em>infermiera</em> in <strong>Australia</strong></p>
            <p>Un'<em>infermiera</em> in <strong>Australia</strong>.</p>
        </div>
        <span id="typed-mobile" class="typed-text-mobile .margin-top-1"></span>

    
    </section>
    <section class="col-12-middle">
        <h4 class="border-top-padded-1"><em>Vuoi di più?</em></h4>
        <p>Seguimi su <a href="https://www.instagram.com/lauradellavalle">Instagram <i class="fa fa-camera-retro"></i></a>
        </p>
        <p>Mandami un' <a href="/contact.html">Email</a></p>
        <br>
        <p>Vieni in Australia con la mia <br><a href="/how-to-free.html"><span class="highlight">guida gratuita</span></a></p>
    </section>
</section>