<!DOCTYPE html>
<html>
     <!-- This is the HEAD of our HTML 
    In the head we set all the information we need the browser reads but we don't need to see on the screen (extra resources and metadata)-->
    <head>
        <title>LDV</title>
        <!-- Gridlex -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

        <!-- This is our font-awesome ICONS, link copied from cdnjs.com -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Font --->
        <!-- Montserrat 100, 200, 300, 400, 500 -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap" rel="stylesheet">

        <!-- Responsiveness --->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <!-- Typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


        <!-- Own CSS -->
        <link href="style.css" rel="stylesheet">
        
    </head>